div {
    /* border: 2px solid black; */
}

body {
    /* background-color: #222; */
}

.mainColor {
    background-color: #62A5A1;
}

.item:hover {
    background-color: #afe3d5;
}

/* 左邊側邊欄 */

.headtop {
    position: sticky;
    top: 0px;
    z-index: 5;
}

.navfix { 
    position: sticky;
    min-height: 94vh;
}

.navfix li {
    border: none;
    cursor: pointer;
}

.navfix li:hover {
    background-color: #afe3d5;
    color: #0c4128;
}

.list-group-item {
    background-color: transparent;
    color: white;
}

@media (max-width: 992px) {
    .navfix {
        position: relative;
        top: 0px;
        height: auto;
        min-height: auto;
    }
    .username {
        visibility: hidden;
    }
}


/* 左邊側邊欄 結束*/

div.FormPadding {
    padding: 0%;
}
[v-cloak] {
    display: none;
}